 .u-section-1 {
  min-height: 50vw;
}

.u-section-1 .u-shape-1 {
  background-image: none;
  height: 499px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -425px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 812px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 1.875rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 812px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 1.875rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-1 .u-image-1 {
  width: 240px;
  height: 240px;
  background-image: url("images/Dan.jpg");
  background-position: 50% 50%;
  margin: 20px 15px 0 auto;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 812px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 240px;
  height: 240px;
  background-image: url("images/Lara.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-5 {
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 1.875rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 887px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 670px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 670px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 13px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 670px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 929px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    width: 180px;
    height: 180px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-2 {
    width: 180px;
    height: 180px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1807px;
  }

  .u-section-1 .u-shape-1 {
    height: 1064px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -990px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 588px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 270px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 542px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 250px;
    height: 250px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 543px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    width: 250px;
    height: 250px;
    margin-right: 270px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 70px;
  }
}
